<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Chamado - Help Desk</title>
       <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="styles.css" /> 

</head>
<body>
  <header>
    <nav>
      <a href="/" class="logo">Help Desk</a>
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registrar</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="create-ticket-form">
      <h2>Criar Chamado</h2>

      <% if (message.length > 0) { %>
        <p class="message"><%= message %></p>
      <% } %>
      <form action="/create-ticket" method="post" enctype="multipart/form-data">
        <label for="subject">Assunto:</label>
        <input type="text" id="subject" name="subject" required>

        <label for="category">Categoria:</label>
        <select id="category" name="category" required>
          <option value="" disabled selected>Selecione uma categoria</option>
          <option value="Hardware">Hardware</option>
          <option value="Software">Software</option>
          <option value="Rede">Rede</option>
          <!-- Adicione mais opções de categorias conforme necessário -->
        </select>

        <label for="description">Descrição:</label>
        <textarea id="description" name="description" rows="4" required></textarea>

        <label for="attachment">Anexar arquivo (limite de 50 MB):</label>
        <input type="file" id="attachment" name="attachment" accept=".pdf,.doc,.docx,.txt,.jpg,.jpeg,.png" size="52428800">

        <input type="submit" value="Enviar Chamado">
      </form>
    </section>
  </main>
  <footer>
    <p>Todos os direitos reservados &copy; 2023 Help Desk</p>
  </footer>
</body>
</html>
