<!DOCTYPE html>
<html>
<head>
  <title>Help Desk</title>
</head>
<body>
  <% if (message.length > 0) { %>
    <p><%= message %></p>
  <% } %>
  <h1>Bem-vindo ao sistema de Help Desk</h1>
  <a href="/login">Login</a> | <a href="/register">Registrar</a>
</body>
  </html>
    